.DS_Store
work/
classes/

.classpath
.project
.settings/
target/
**/.checkstyle
**/.checkstyle-rules
**/.fbprefs
**/.findbugs-excludes
**/.pmd
**/.ruleset
**/bin/
*.swp
*.iml
*.ipr
*.iws
rebel.xml
.idea
/*.ids
/knownHosts
sample-setup/work/*
activemq-data
test-output